<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a New Gab</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul id="menu">
        <li class="menuItem"><a href="/">Gabble</a></li>
        <li class="menuItem"><a href="creategab">Create a new gab</a></li>
        <li class="menuItem"><a href="login">Logged in as</a></li>
        <li class="menuItem"><a href="">Log out</a></li>
      </ul>
    </nav>

    <h1>Create a New Gab</h1>
    <br>
    <form action="/create" method="post">
      <textarea name="newgab" id="newgab" cols="35" rows="4"></textarea>
      <br>
      <input type="submit" name="savegab" value="Save a gab">
    </form>

  </body>
</html>